<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cryptographic_algoritm_based_on_XOR_and_random_key.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cryptographic_algoritm_based_on_XOR_and_random_key.FormPosition" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cryptographic_algoritm_based_on_XOR_and_random_key.Settings_New" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cryptographic_algoritm_based_on_XOR_and_random_key.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Cryptographic_algoritm_based_on_XOR_and_random_key.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>400</value>
            </setting>
        </Cryptographic_algoritm_based_on_XOR_and_random_key.Settings>
        <Cryptographic_algoritm_based_on_XOR_and_random_key.FormPosition>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
        </Cryptographic_algoritm_based_on_XOR_and_random_key.FormPosition>
        <Cryptographic_algoritm_based_on_XOR_and_random_key.Settings_New>
            <setting name="A" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="N" serializeAs="String">
                <value>0</value>
            </setting>
        </Cryptographic_algoritm_based_on_XOR_and_random_key.Settings_New>
        <Cryptographic_algoritm_based_on_XOR_and_random_key.Settings1>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Wight" serializeAs="String">
                <value>0</value>
            </setting>
        </Cryptographic_algoritm_based_on_XOR_and_random_key.Settings1>
    </userSettings>
</configuration>